$gap: 30px;
$light-text-color: #fff;
$lighter-text-in-light-block--color: #999;
$lighter-text-in-dark-block-color: #CACACA;
$dark-text-color: #202020;
$light-bg-color: #fff;
$dark-bg-color: #202020;
$link-hover-color: #FF6E30;
$link-focus-color: #BC572B;
$link-active-color: #CE4307;
$project-link-focus-color: #FFD4C1;
$form-bg-light-color: #E9E9E9;
$form-bg-dark-color: #4A4A4A;
$standart-button-color: #FF6E30;
$standart-button-hover-color: #BC572B;
$standart-button-focus-color: #FF6E30;
$standart-button-focus-border-color: #CE4307;
$standart-button-active-color: #CE4307;
$transparent-button-border-color: #FF6E30;
$transparent-button-hover-color: #FF6E30;
$transparent-button-focus-color: #BC572B;
$transparent-button-active-color: #CE4307;
$form-accent-color: #FF6E30;