html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

a {
    color: inherit;
    text-decoration: none
}

img {
    max-width: 100%
}

h1, h2, h3, h4, p {
    margin: 0
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local("Montserrat"),
    url("../fonts/Montserrat-Regular.woff2") format('woff2'),
         url("../fonts/Montserrat-Regular.woff") format('woff');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local("Montserrat"),
         url("../fonts/Montserrat-Medium.woff2") format('woff2'),
         url("../fonts/Montserrat-Medium.woff") format('woff');
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local("Montserrat"),
         url("../fonts/Montserrat-SemiBold.woff2") format('woff2'),
         url("../fonts/Montserrat-SemiBold.woff") format('woff');
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local("Montserrat"),
         url("../fonts/Montserrat-Bold.woff2") format('woff2'),
         url("../fonts/Montserrat-Bold.woff") format('woff');
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: local("Montserrat"),
         url("../fonts/Montserrat-ExtraBold.woff2") format('woff2'),
         url("../fonts/Montserrat-ExtraBold.woff") format('woff');
    font-style: normal;
    font-weight: 800
}

/* glob */

:root {
    --white: #fff;
    --black: #000;
    --gray: #414141;
    --gray-light: #CACACA;
    --gray-dark: #666;
    --orange: #FF9900;
    --orange-dark: #E1670E;
    --border-radius: 32px;
    --button-border-radius: 16px
}

body {
    margin: 0 auto;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    background-color: var(--white);
    color: var(--black)
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none
}

.button-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button {
    color: var(--white);
    background-color: var(--orange);
    border-radius: var(--button-border-radius);
    -webkit-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out
}

.link {
    -webkit-transition: color .3s ease-in-out, outline .3s ease-in-out;
    -o-transition: color .3s ease-in-out, outline .3s ease-in-out;
    transition: color .3s ease-in-out, outline .3s ease-in-out
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.container {
    max-width: 1800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.section {
    padding-top: 50px;
    padding-bottom: 50px
}

.section__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 59px
}

/* header */

.header {
    position: relative;
    padding: 14px 0;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 40px rgba(0, 0, 0, .1)
}

.header__container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.header__logo {
    margin-right: auto
}

.nav__list {
    margin-right: 260px;
    gap: 85px;
    font-size: 18px;
    font-weight: 600
}

.nav__link {
    position: relative;
    outline: transparent solid 2px;
    outline-offset: 5px;
    -webkit-transition: color .3s ease-in-out, outline .3s ease-in-out;
    -o-transition: color .3s ease-in-out, outline .3s ease-in-out;
    transition: color .3s ease-in-out, outline .3s ease-in-out
}

.nav__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -7px;
    height: 2px;
    background-color: var(--orange-dark);
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out, transform .3s ease-in-out, background-color .3s ease-in-out
}

.nav__link:focus-visible {
    outline: 0;
    outline: 2px solid var(--orange)
}

.nav__link:hover:not(:focus-visible) {
    color: var(--orange)
}

.nav__link:hover:not(:focus-visible)::before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: var(--orange)
}

.nav__link:active:not(:focus-visible) {
    color: var(--orange-dark)
}

.nav__link:active:not(:focus-visible)::before {
    background-color: var(--orange-dark)
}

.search {
    -webkit-transition: outline .3s ease-in-out;
    -o-transition: outline .3s ease-in-out;
    transition: outline .3s ease-in-out
}

.search__button svg path,
.search__form__button svg path {
    -webkit-transition: stroke .3s ease-in-out;
    -o-transition: stroke .3s ease-in-out;
    transition: stroke .3s ease-in-out
}

.search__button svg rect,
.search__form__button svg rect {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out
}

.search__button:focus-visible,
.search__form__button:focus-visible {
    outline: 0;
    outline: 1px solid var(--orange);
    outline-offset: 2px
}

.search__button:hover svg path,
.search__form__button:hover svg path,
.search__form__button_close:hover svg circle {
    stroke: var(--orange)
}

.search__button:hover svg rect,
.search__form__button:hover svg rect {
    fill: var(--orange)
}

.search__button:active svg path,
.search__form__button:active path {
    stroke: var(--orange-dark)
}

.search__button:active svg rect,
.search__form__button:active svg rect {
    fill: var(--orange-dark)
}

.search__form__button_close:active svg circle,
.search__form__button_close:active svg rect {
    stroke: var(--black)
}

.search__form__button_submit {
    margin-right: 20px
}

.search__form__button_open {
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.search__form__button_open.active {
    opacity: 0
}

.search__form {
    position: absolute;
    min-width: 23.35%;
    padding: 18px;
    top: 50px;
    right: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .12);
    box-shadow: 0 0 20px rgba(0, 0, 0, .12);
    border-radius: 24px;
    z-index: 2;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-250%);
    -ms-transform: translateY(-250%);
    transform: translateY(-250%);
    -webkit-transition: opacity .3s ease-in-out .2s, visibility .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s, visibility .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s, visibility .3s ease-in-out .2s
}

.search__form__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px;
    margin: 0 15px 0 0;
    background: 0 0;
    border: none;
    border-bottom: 1px solid var(--gray-light)
}

.search__form__input:focus-visible {
    outline: 0;
    opacity: .8
}

.search__form__active {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible
}

.form-close {
    padding: 0
}

.burger {
    display: none
}

/* hero */

.hero {
    padding-bottom: 25px
}

.hero__container {
    position: relative;
    max-width: 1770px;
    padding: 100px 80px;
    z-index: 1;
    color: var(--white)
}

.hero__title {
    max-width: 837px;
    margin-bottom: 24px;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px
}

.card__title,
.hero__button,
.hero__text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700
}

.hero__text {
    max-width: 790px;
    margin-bottom: 90px
}

.hero__button {
    padding: 24px 35px
}

.hero__button:focus-visible {
    outline: 0;
    background-color: rgba(255, 153, 0, .7)
}

.hero__button:hover {
    background-color: rgba(255, 153, 0, .7)
}

.hero__button:active {
    background-color: var(--orange-dark)
}

.swiper.hero__swiper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1
}

.hero__swiper__pagination.swiper-pagination {
    z-index: 2;
    position: absolute;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.hero__swiper__slide {
    background-size: cover;
    border-radius: var(--border-radius);
    background-repeat: no-repeat
}

.hero__swiper__slide_1 {
    background-image: url('../img/decor/1920/hero-slider-1-1920.webp'),
                      url("../img/decor/1920/hero-slider-1-1920.jpg")
}

.hero__swiper__slide_2 {
    background-image: url('../img/decor/1920/hero-slider-2-1920.webp'),
                      url("../img/decor/1920/hero-slider-2-1920.jpg")
}

.hero__swiper__slide_3 {
    background-image: url('../img/decor/1920/hero-slider-3-1920.webp'),
                      url("../img/decor/1920/hero-slider-3-1920.jpg")
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #fff
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2), .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px
}

/* about */

.about {
    padding-top: 25px
}

.about__title {
    margin-bottom: 20px
}

.about__text {
    max-width: 1235px;
    margin-bottom: 50px
}

.about__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 32px
}

.about__block {
    width: calc((100% - 32px)/ 2);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px
}

.about__block_left {
    min-height: 622px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: var(--gray);
    background-size: cover;
    border-radius: var(--border-radius);
    background-repeat: no-repeat;
    background-image: url("../img/decor/1920/about-bg-1920.webp"),
                      url("../img/decor/1920/about-bg-1920.jpg");
    background-position: top center
}

.block-preview {
    padding: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius)
}

.block-preview__text {
    width: 59%;
    color: var(--white);
    font-weight: 700
}

.block-preview__button {
    padding: 18px 35px;
    font-weight: 700;
    background-color: transparent;
    border: 3px solid var(--orange)
}

.block-preview__button:focus-visible {
    outline: 0;
    background-color: var(--orange)
}

.block-preview__button:hover {
    background-color: var(--orange)
}

.block-preview__button:active {
    background-color: var(--orange-dark);
    border-color: var(--orange-dark)
}

.card {
    position: relative;
    padding: 7.4% 6.9%;
    border: 1px solid var(--gray-light);
    border-radius: var(--border-radius)
}

.card::before {
    content: "";
    position: absolute;
    width: 22%;
    height: 200px;
    left: 6.9%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat
}

.card_1::before {
    background-image: url("../img/decor/cube.png")
}

.card_2::before {
    background-image: url("../img/decor/gear.png")
}

.card__content {
    max-width: 92.6%;
    padding-left: 32.1%
}

.card__title {
    margin-bottom: 8px
}

/* work */

.work {
    padding-bottom: 61px
}

.work__title {
    margin-bottom: 50px
}

.tab {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 22px
}

.tab__link:not(:last-child) {
    margin-right: 87px
}

.tab__link:focus-visible {
    outline: 0;
    outline: 2px solid var(--orange);
    outline-offset: 3px
}

.tab__link:hover:not(:focus-visible) {
    color: var(--orange)
}

.tab__link:active:not(:focus-visible) {
    color: var(--orange-dark)
}

.step {
    position: relative;
}

.step::before {
    content: "";
    position: absolute;
    width: 49%;
    bottom: 0;
    right: 0;
    top: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 32px;
    border-radius: var(--border-radius)
}

.step-work-1::before {
    background-image: url("../img/decor/1920/step-1-1920.webp"),
                      url("../img/decor/1920/step-1-1920.jpg")
}

.step-work-2::before {
    background-image: url("../img/decor/1920/step-2-1920.webp"),
                      url("../img/decor/1920/step-2-1920.jpg")
}

.step-work-3::before {
    background-image: url("../img/decor/1920/step-3-1920.webp"),
                      url("../img/decor/1920/step-3-1920.jpg")
}

.step-work-4::before {
    background-image: url("../img/decor/1920/step-4-1920.webp"),
                      url("../img/decor/1920/step-4-1920.jpg")
}

.step__container {
    min-height: 460px;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 43%
}

.step__title {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700
}

.step__buttons {
    gap: 32px
}

.step__button {
    padding: 20px 40px
}

.step__button_detai:focus-visible {
    outline: 0;
    background-color: #f7b045
}

.step__button_detai:hover {
    background-color: #f7b045
}

.step__button_detai:active {
    background-color: var(--orange-dark)
}

.step__button_contract {
    padding: 19px 37px;
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black)
}

.step__button_contract:focus-visible {
    outline: 0;
    color: var(--white);
    background-color: var(--gray-dark);
    border-color: var(--gray-dark)
}

.step__button_contract:hover {
    color: var(--white);
    background-color: var(--gray-dark);
    border-color: var(--gray-dark)
}

.step__button_contract:active {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black)
}

/* faq */

.faq {
    padding-bottom: 100px
}

.faq__title {
    margin-bottom: 32px
}

.faq__list {
    width: 100%
}

.faq-top {
    margin-top: -1px;
    padding: 30px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid var(--gray-light);
    border-bottom: 1px solid var(--gray-light);
    -webkit-transition: border-color .3s ease-in-out;
    -o-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out
}

.faq-top__button {
    max-width: 50px;
    width: 100%;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
    background-color: var(--gray-light);
    -webkit-transition: color .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out
}

.faq-top__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out
}

.faq-top:focus-within, .faq-top:hover {
    border-color: var(--orange);
    position: relative;
    z-index: 1
}

.faq-top:focus-within .faq-top__button {
    background-color: var(--orange);
    border-color: var(--orange);
    outline: 0
}

.faq-top:hover .faq-top__button {
    background-color: var(--orange);
    border-color: var(--orange)
}

.faq-top:focus-within .faq-top__button__svg path,
.faq-top:hover .faq-top__button__svg path {
    fill: var(--white)
}

.faq__item.is-active .faq-top__button__svg path,
.faq-top:active .faq-top__button__svg path {
    fill: #666
}

.faq-top:focus-within .faq-top__title,
.faq-top:hover .faq-top__title {
    color: var(--orange)
}

.faq-top:focus-within {
    outline: 0
}

.faq__item:active .faq-top__button {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.faq__item.is-active .faq-top {
    border-color: var(--gray-light);
    color: var(--black)
}

.faq__item.is-active .faq-top__button {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--gray-light)
}

.faq__item.is-active .faq-top h3 {
    color: var(--black)
}

.faq__item.is-active .faq-top+.faq-bottom {
    border-bottom: 1px solid var(--orange-dark);
    position: relative;
    z-index: 2
}

.faq__item {
    cursor: pointer;
}

.faq__item.ac {
    margin: 0;
    border: none
}

.faq-bottom {
    line-height: 2
}

.faq-bottom__text {
    padding-top: 5px;
    padding-bottom: 5px
}

/* footer */

.footer {
    background-color: var(--black)
}

.footer__container {
    padding-top: 50px;
    padding-bottom: 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: var(--gray-light)
}

.footer-menu {
    width: 21%
}

.footer-menu__logo {
    margin-bottom: 10px
}

.footer-menu__list {
    margin-bottom: 90px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px
}

.footer-menu__link {
    -webkit-transition: color .3s ease-in-out, outline .3s ease-in-out;
    -o-transition: color .3s ease-in-out, outline .3s ease-in-out;
    transition: color .3s ease-in-out, outline .3s ease-in-out
}

.footer-menu__link:focus-visible {
    outline: 0;
    outline: 1px solid var(--orange);
    outline-offset: 2px
}

.footer-menu__link:hover:not(:focus-visible) {
    color: var(--orange)
}

.footer-menu__link:active:not(:focus-visible) {
    color: var(--orange-dark)
}

.social {
    gap: 25px
}

.social__link {
    -webkit-transition: outtline .3s ease-in-out;
    -o-transition: outtline .3s ease-in-out;
    transition: outtline .3s ease-in-out
}

.social__link svg path {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out
}

.social__link:focus-visible {
    outline: 0;
    outline: 2px solid var(--orange);
    outline-offset: 3px
}

.social__link:hover svg path {
    fill: var(--orange)
}

.social__link:active svg path {
    fill: var(--orange-dark)
}

.footer__request {
    width: 32.2%
}

.request__title {
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px
}

.form__email,
.form__message,
.form__name {
    width: 100%;
    padding: 22px 24px;
    margin-bottom: 23px;
    color: var(--gray-light);
    background-color: var(--gray);
    border: none;
    border-radius: 16px;
    -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
    transition: background-color .3s ease-in-out, color .3s ease-in-out
}

.form__email:focus-visible,
.form__message:focus-visible,
.form__name:focus-visible {
    outline: 0;
    background-color: var(--gray-dark)
}

.form__email:hover,
.form__message:hover,
.form__name:hover {
    background-color: var(--gray-dark)
}

.form__email:active,
.form__message:active,
.form__name:active {
    color: var(--white);
    background-color: var(--gray-dark)
}

.form__message {
    margin-bottom: 20px
}

.form__button {
    display: block;
    margin: 0 auto;
    padding: 18px 52px;
    color: var(--white);
    font-weight: 700;
    line-height: 20px;
    background-color: var(--orange);
    border-radius: 16px;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out
}

.form__button:focus-visible {
    outline: 0;
    background-color: #f7b045
}

.form__button:hover {
    background-color: #f7b045
}

.form__button:active {
    background-color: var(--orange-dark)
}

.footer__content {
    width: 20.5%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center
}
